/* nav related style */
body {
    font-family: 'Open Sans', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;


}

nav>ul {
    display: flex;
    align-items: center;

}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
}




.nav-title {
    font-size: 45px;
    color: #181818;
    font: 800px;
    ;
    height: 50px;
    width: 120px;
    align-items: center;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    padding: 15px 35px;
    color: white;
    background: #FD6E0A;
    border: 0;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;


}

/* header related style */



.header {
    background: #FFF8F3;
    background: url('../images/header_bg.png') , url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right ,top left;
   
    

}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
}

.banner .profile-picture {
    width: 450px;
    height: 500px;

}

.banner-small-title {
    font-size: 40px;
    color: #474747;
    margin: 0px;

}

.banner-title {
    font-size: 70px;
    font-weight: 700px;
    color: #181818;
    margin-top:5px ;
    margin-bottom: 20px;
}
.banner-description{
    color: #757575;
    margin: 20px 0px;

}
.banner-content{
    width: 500px;
}
/* main related style */
/* About style */
.about-title{
    color: #181818;
    font-size: 35px;
}
.about-description{
    color: #757575;
    font-size: 15px;
    margin: 15px 0px;
    text-align: center;
}
.about-section{
    background-color: #FFF8F3;
    margin:100px 200px;
    padding: 100px;
   
}
.about-title{
    text-align: center;
}
.about-section-info{
    display: flex;
    justify-content: space-around;
}
.info-title{
    font-size: 18px;
    color: #757575;
    margin-bottom: 5px;

}
.info-description{
    font-size: 18px;
    color: #474747;
    margin: 0;
}
.about-info{
    text-align: center;
}

/* do related style */
.section-i-do{
    margin: 100px 200px;
    text-align: center;
    
}
.do-description{
    padding: 0px 100px 20px 100px;
}
.do-head{
    color: #181818;
    font-size: 35px;
    margin-bottom:10px ;
}
.do-description{
    color: #757575;
    font-size: 15px;
    margin-top: 0px;
}
.section-skill{
    display: flex;
    gap: 25px;
    text-align: left;
}
.skill-box{
    background:#ffffff; 
    padding: 12px;
    box-shadow: 1px 2px 10px rgb(231, 215, 215);
}

/* resume related style */
.resume-section{
    margin: 100px 200px;
}
.resume-head{
    color: #181818;
    font-size: 30px;
    text-align: center;
    margin: 0px 0px 100px 0px;
}
.resume-title{
    color: #474747;
    font-size: 27px;
    margin-top: 0px;
}
.resume-skill{
    color: #474747;
    font-size: 22px;
    margin-top: 0px;
}
.resume-year{
    color: #757575;
    font-size: 18px;
    margin-top: 0px;
}
.resume-description{
    color: #757575;
    font-size: 13px;
}
.resume-container{
    display: flex;
    gap: 30px;
    margin-bottom: 0px;
}
.download-cv{
  text-align: center;
  margin-top: 50px;
}
/* footer related style */
.footer-part{
    background: #FFF8F3;
    padding: 100px 200px;
}
.footer-section{
   
    display: flex;
    gap: 50px;
    text-align: center;

}

 input{
padding: 18px;
margin: 12px 0px ;
border: 0;
width: 100%;
color: #757575;
font-size: 14px;
border:hover
}
textarea{
    /* display: block; */
    margin: 12px 0px;
    padding: 12px;
    border-radius: 5px;
    background:#ffffff;
    font-size: 14px;
    color: #757575;
    border: 0 ;
    width: 100%;
   
}
.connect-title .form-title{
    color: #181818;
    font-size: 30px;
}
.connect-description{
    color: #474747;
    font-size: 14px;
}
.social-link ,a{
    margin-right: 20px;
}