/* nav related style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Open Sans', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;


}

nav>ul {
    display: flex;
    align-items: center;

}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
   
}




.nav-title {
    font-size: 45px;
    color: #181818;
    font: 800px;
    ;
    height: 50px;
    width: 120px;
    align-items: center;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    padding: 15px 35px;
    color: white;
    background: #FD6E0A;
    border: 0;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;


}

/* header related style */



.header {
    background: #FFF8F3;
    background: url('../images/header_bg.png') , url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right ,top left;
   
    

}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
}

.banner .profile-picture {
    width: 450px;
    height: 500px;

}

.banner-small-title {
    font-size: 40px;
    color: #474747;
    margin: 0px;

}

.banner-title {
    font-size: 70px;
    font-weight: 700px;
    color: #181818;
    margin-top:5px ;
    margin-bottom: 20px;
}
.banner-description{
    color: #757575;
    margin: 20px 0px;

}
.banner-content{
    width: 500px;
}
/* main related style */
/* About style */
.about-title{
    color: #181818;
    font-size: 35px;
}
.about-description{
    color: #757575;
    font-size: 15px;
    margin: 15px 0px;
    text-align: center;
}
.about-section{
    background-color: #FFF8F3;
    margin:100px 200px;
    padding: 100px;
   
}
.about-title{
    text-align: center;
}
.about-section-info{
    display: flex;
    justify-content: space-around;
}
.info-title{
    font-size: 18px;
    color: #757575;
    margin-bottom: 5px;

}
.info-description{
    font-size: 18px;
    color: #474747;
    margin: 0;
}
.about-info{
    text-align: center;
}

/* do related style */
.section-i-do{
    width: 80%;
    /* margin: 100px 200px; */
    margin: 0 auto;
    text-align: center;
    
}
.do-head-description{
    margin-bottom:40px; 
}
.do-head{
    color: #181818;
    font-size: 35px;
    margin-bottom:10px ;
}
.do-description{
    color: #757575;
    font-size: 15px;
    margin-top: 0px;
}
.section-skill{
    display: flex;
    gap: 2%;
    text-align: left;
    /* width: 100%; */
}
.skill-box{
    background:#ffffff; 
    padding:2%;
    box-shadow: 1px 2px 10px rgb(231, 215, 215);
    margin-top: 40px;
}

/* resume related style */
.resume-section{
    margin: 100px 200px;
}
.resume-head{
    color: #181818;
    font-size: 30px;
    text-align: center;
    margin: 0px 0px 100px 0px;
}
.resume-title{
    color: #474747;
    font-size: 27px;
}
.resume-skill{
    color: #474747;
    margin-top: 30px;
    font-size: 22px;
   
}
.resume-year{
    color: #757575;
    font-size: 18px;
    margin-top: 0px;
}
.resume-description{
    color: #757575;
    font-size: 13px;
    margin-top: 30px;
}
.resume-container{
    display: flex;
    gap: 30px;
    margin-bottom: 0px;
}
.download-cv{
  text-align: center;
  margin-top: 50px;
}
/* footer related style */
.footer-part{
    background: #FFF8F3;
    padding: 100px 200px;
}
.footer-section{
   
    display: flex;
 
    gap: 8%;
 text-align: center;

}

 input{
padding: 18px;
margin: 12px 0px ;
border: 0;
width: 100%;
color: #757575;
font-size: 14px;
border:hover
}
textarea{
    /* display: block; */
    margin: 12px 0px;
    padding: 12px;
    border-radius: 5px;
    background:#ffffff;
    font-size: 14px;
    color: #757575;
    border: 0 ;
    width: 100%;
   
}
.connect-title .form-title{
    color: #181818;
    font-size: 30px;
}
.connect-description{
    color: #474747;
    font-size: 14px;
    padding: 20px 0px;
}
.social-link ,a{
    margin-right: 20px;
}
.connect{
    margin-top: 150px;
}
.a{
    display: none;
}

/* responsive */

@media screen and (max-width:576px) {
    .footer-section , .resume-container , .banner , .about-section-info{
      
        flex-direction: column;
    }
    .about-section{
        margin: 10px;
       padding: 20px;
    }
    nav{
        flex-direction: column;
        margin: 20px;
      align-items: center;

    }

    .footer-part{
        padding: 50px 50px;
    }
    .connect{
        margin-top: 0px;
    }
    .section-skill{
      flex-direction: column;
        
        text-align: left;
    } 
    .resume-section{
        margin:50px;
    }
    .header ul{
        margin-top: 10px;
    }
    .header{
    background-image: none;
    }
    nav li {
        list-style: none;
        margin-right: 0px;
    }
    .btn-primary{
        padding: 20px;
    }
    .banner .profile-picture {
        width: 100%;
    }
    .banner-content{
        width: 100%;
    }
    .banner{
        margin:0;
        padding: 20px;
    }
    nav>ul {
       flex-direction: column;
    }
    
}
@media screen and (min-width:576px) and (max-width:992px) {
    .header{
        background-image: none;
    }
    .footer-section{

     display: grid;
     grid-template-columns: repeat(1,1fr);

    }
    .footer-part{
        padding: 40px 150px;
    }
    .connect{
        margin-top: 40px;
    }
    
        /* margin-bottom: 20px; */

      
    
    .resume-container , .banner , .about-section-info{
       
        flex-direction: column;
        
    }
    nav{
        flex-direction: column;
        margin: 0px 50px;

    }
    .resume-section{
        margin:50px;
    } 
    .section-skill{
        flex-direction: column;
    }
    .section-i-do{
        width: 60%;
    }
    .header {
        background: none;
    }
    .about-section{
        margin: 50px;
       padding: 50px;
    }
 
}